---
pagination:
  data: teachingStaff
  size: 1
  alias: person
  addAllPagesToCollections: staffProfiles
permalink: "staff/{{ person.slug }}/index.html"
---

<article class="profile-page">
  <img src="{{ person.photo | url }}" alt="Photo of {{ person.name }}" class="profile-photo">
  <h1>{{ person.name }}</h1>
  <p><strong>Title:</strong> {{ person.title }}</p>
  <p><strong>Department:</strong> {{ person.department }}</p>
  {% if person.email %}
    <p><strong>Email:</strong> <a href="mailto:{{ person.email }}">{{ person.email }}</a></p>
  {% endif %}
  {% if person.phone %}
    <p><strong>Phone:</strong> {{ person.phone }}</p>
  {% endif %}
  <div class="profile-bio">
    {{ person.body  }}
  </div>
</article>
